.heroPage {
  width: 100%;
  min-width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}

.heroMain {
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.herotext{
  padding: var(--base-gap) 0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  gap: calc(var(--base-gap)/2);
}

.heroContent {
  width: 100%;
  min-width: 100%;
  max-width: 100vw;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: 
    url('../../assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 64rem) {
  .heroContent {
    background-image:
      url('../../assets/images/hero_M.jpg');
  }
}

@media (max-width: 26.875rem) {
  .heroContent {
    background-image:
      url('../../assets/images/hero_S.jpg');
  }
}

.heroContent p {
  margin: 0;
  /* text-transform: lowercase; */
}

.heroUtilityRow {
  display: flex;
  width: min(100%, var(--max-box-width, 700px));
  margin-top: calc(var(--base-gap)/2);
  padding: var(--base-gap) 10px var(--base-gap) 0;
  justify-content: start;
  gap: var(--base-gap);
  align-items: center;
  border-top: var(--layout-stroke, 0.5px) solid var(--stroke-color, #ababab);
}

@media (max-width: 48rem) {
  .heroPage {
    padding: 0 calc(var(--vertical-large-padding) / 2);
  }

  .heroContent {
    width: 100vw;
    min-width: 100vw;
  }
}
