.heroPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heroMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.herotext{
  padding: var(--base-gap) 0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  gap: calc(var(--base-gap)/2);
}

.heroContent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: 
    url('../../assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroContent p {
  margin: 0;
  /* text-transform: lowercase; */
}

.heroUtilityRow {
  display: flex;
  width: var(--max-box-width, 600px);
  min-width: var(--max-box-width, 600px);
  margin-top: calc(var(--base-gap)/2);
  padding: var(--base-gap) 10px var(--base-gap) 0;
  justify-content: start;
  gap: var(--base-gap);
  align-items: center;
  border-top: var(--layout-stroke, 0.5px) solid var(--stroke-color, #ababab);
}

@media (max-width: 48rem) {
  .heroPage {
    padding: var(--base-gap);
  }
}
