.heroPage {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
 
}

.heroMain {
  
  width: 100%; 
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.herotext{
  padding: var(--base-gap) 0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  gap: calc(var(--vertical-text-gap));
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  position: relative;
  z-index: 2;
}


.heroUtilityRow {
  display: flex;
  width: min(100%, var(--max-box-width));
  /* margin-top: calc(var(--base-gap)/2); */
  padding: 10px 10px var(--base-gap) 0;
  justify-content: start;
  gap: var(--project-card-spacing);
  align-items: center;
}

.heroDivider {
  width: calc(var(--small-card-max-width) + var(--base-gap));
  height: var(--layout-stroke, 0.5px);
  background: var(--stroke-color, #ababab);
  margin: var(--project-card-spacing) 0;
}

.cardSlot {
  display: flex;
  flex-shrink: 0;
}

.heroIconButton:hover {
  transform: translateY(var(--icon-hover-translate, -0.125rem)) rotate(var(--icon-hover-rotation, 0deg));
}

.heroIconButton:hover .heroIcon {
  transform: translateX(var(--icon-hover-shift, calc(var(--icon-button-width) * 0.18)));
}

@media screen and (max-width: 1280px) {
  .herotext{
    padding: var(--vertical-large-padding);
  }
}

@media screen and (max-width: 1024px) {
  .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  text-align: left;
  }
  .herotext{
    justify-content: end;
    height: 100%;
    padding: calc(var(--vertical-large-padding)*2) 0;
  }
  .wrapper{
    min-height: 90vh;
  }
}

/* @media screen and (max-width: 500px) {
  .herotext {
    padding: calc(var(--vertical-large-padding)*2) 0;
  }
} */


