.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin:0 var(--vertical-large-padding);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}



@media screen and (max-width: 1194px) {

  .wrapper {
    margin:0 var(--vertical-large-padding);
  }
  .wrapper h1 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
      padding: calc(var(--vertical-large-padding));
    }
}