.section {
  width: 100%;
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 0;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin:0 var(--vertical-large-padding);
  position: relative;
  z-index: 2;
}


.content {
  display: flex;
  width: 50%;
  height: 70vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
  /* background-color: blue; */
}


@media screen and (max-width: 1194px) {

  .wrapper {
    margin:0 var(--vertical-large-padding);
  }
  .content{
    height: 90vh;
  }
}

@media (max-width: 1024px) {
  .content {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    padding: var(--nav-min-height, 5rem) var(--menu-button-margin-right)
  }
  .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  text-align: left;
  padding: var(--nav-min-height, 5rem) var(--menu-button-margin-right) 0;
  }

  .section {
    min-width: 100%;
    justify-content: flex-start;
    align-items: center;
    /* padding: var(--nav-min-height, 5rem) var(--menu-button-margin-right) 0; */
    margin:0;
    padding: 0;
      
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
      padding: calc(var(--vertical-large-padding)*2) 0;
    }

  .content{
    padding: 0%;
  }

}
