.wrapper{
    max-width: var(--nav-max-width);
    width: 100%;
    height: 100%;
    padding: 0 5% 0 var(--container-large-horizontal-padding);
    /* min-height: 70vh; */
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (max-width: 108rem) { /*1728*/
  .wrapper {
    padding: 0 calc(var(--vertical-large-padding)*2);
  }
}

@media (max-width: 80rem) { /* 1280px and down */
  .wrapper {
    padding: 0 var(--container-large-horizontal-padding);
  }
}

@media screen and (max-width: 1180px) {
  .wrapper {
    padding: 0 calc(var(--container-large-horizontal-padding)*2) 0 var(--vertical-large-padding);
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 var(--vertical-large-padding);
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 0 ;
  }
}
