.canvas {
  height: 70vh;
  aspect-ratio: 2 / 2;
  margin-right: var(--vertical-large-padding);
  position: relative;
  /* background-color: black; */
}

.canvas canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.profileImage {
  position: absolute;
  top: 55%;
  left: 50%;
  height: 43vh;
  width: auto;
  transform: translate(-50%, -50%);
  z-index: 5;
}
