.canvasContainer{
  /* background-color: black; */
  position: relative;
}
.canvas {
  height: 70vh;
  aspect-ratio: 2 / 2;
  margin-right: var(--vertical-large-padding);
  position: relative;
  transform: translateX(-10%);
  /* background-color: black; */
}

.canvas canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.profileImage {
  position: absolute;
  top: 51%;
  left: 48%;
  height: 450px;
  width: auto;
  transform: translate(-50%, -50%);
  z-index: -5;
}
