.canvasContainer{
  /* background-color: black; */
  position: relative;
}
.canvas {
  height: 70vh;
  aspect-ratio: 2 / 2;
  margin-right: var(--vertical-large-padding);
  position: relative;
  transform: translateX(-10%);
  /* background-color: black; */
}

.canvas canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .canvas {
    height: 55vh;
    transform: none;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .canvas {
    height: 45vh;
    transform: none;
    margin: auto;
  }
}