.wrapper{
    max-width: var(--content-width);
    width: 100%;
    height: 100%;
    padding: 0 var(--vertical-large-padding);
    min-height: 70vh;
    margin: auto;
    display: block;
}

@media (max-width: 80rem) { /* 1280px */
  .wrapper {
    padding: 0 calc(var(--vertical-large-padding) * 2);
  }
}

