.wrapper{
    max-width: var(--content-width);
    width: 100%;
    height: 100%;
    padding: 0 var(--vertical-large-padding);
    /* min-height: 70vh; */
    margin: auto;
    display: flex;
    flex-direction: column;
}

@media (max-width: 80rem) { /* 1280px and down */
  .wrapper {
    padding: 0 calc(var(--vertical-large-padding) * 0.75);
  }
}

@media (max-width: 48rem) { /* 768px and down */
  .wrapper {
    padding: 0 ;
  }
}
