.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.content {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.welcome_text{
  flex: 2;
  align-self: flex-start;
  text-align: left;
}

.art_canvas {
  flex: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: black; */
}

@media screen and (max-width: 1194px) {
  .wrapper h1 {
    display: none;
  }
}
