.particlesBackground{
  min-height: 100vh;
  height: auto;
  --particles-align: flex-start;
  --particles-justify: flex-start;
}
.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  min-height: 100vh;
  height: auto;
  gap: var(--base-gap);
}

.content {
  width: 100%;
  min-height: 80vh;
  height: auto;
  padding-top: calc(var(--nav-min-height)*1.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  /* background-color: black; */
}

.welcome_text{
  flex: 2;
  align-self: flex-start;
  text-align: left;
  padding-top: var(--base-gap);
  /* transform: translateX(60%); */
}

.art_canvas {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: black; */
}
.socialList {
  padding:var(--project-card-spacing) 0;
  display: flex;
  gap: calc(var(--base-gap)/3);
  justify-content: flex-start;
  align-items: center;
  pointer-events: all;
}

.detailsContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--base-gap);
  /* background-color:#ababab; */
}

@media screen and (max-width: 1024px) {
  .wrapper{
    margin:var(--vertical-large-padding);
  }
  .content {
    flex-direction: column-reverse;
    min-height: calc(100vh - var(--nav-min-height));
    height: auto;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
  }
  .welcome_text{
    width: 100%;
    padding: var(--base-gap) 0;
  }
  .art_canvas{
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1194px) {
  /* .wrapper h1 {
    display: none;
  } */
}
