.particlesBackground{
  min-height: 100vh;
  height: auto;
  --particles-align: flex-start;
  --particles-justify: flex-start;
}
.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  min-height: 100vh;
  height: auto;
  gap: var(--base-gap);
}

.content {
  width: 100%;
  min-height: 80vh;
  height: auto;
  padding-top: calc(var(--nav-min-height)*1.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  /* background-color: black; */
}

.welcome_text{
  /* flex: 2; */
  align-self: flex-start;
  text-align: left;
  padding-top: var(--base-gap);
  /* transform: translateX(60%); */
}

.art_canvas {
  /* flex: 2; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: black; */
}
.socialList {
  padding:var(--project-card-spacing) 0;
  display: flex;
  gap: calc(var(--base-gap)/3);
  justify-content: flex-start;
  align-items: center;
  pointer-events: all;
}

.detailsContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--base-gap);
  /* background-color:#ababab; */
}

.nextPageRow {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nextPageIconButton:hover {
  transform: translateY(var(--icon-hover-translate, -0.125rem)) rotate(var(--icon-hover-rotation, 0deg));
}

.nextPageIconButton:hover .heroIcon {
  transform: translateX(var(--icon-hover-shift, calc(var(--icon-button-width) * 0.18)));
}



@media screen and (max-width: 1024px) {
  .wrapper{
    padding:calc(var(--vertical-large-padding)*2);
    /* padding: 0 var(--menu-button-margin-right); */
  }
  .content {
    flex-direction: column-reverse;
    /* min-height: calc(100vh - var(--nav-min-height)); */
    min-height: auto;
    height: auto;
    padding-top: var(--nav-min-height);
    height: auto;
    justify-content: flex-end;
    align-items: flex-start;
    /* background-color: black; */
  }
  .welcome_text{
    width: 100%;
    padding: var(--base-gap) 0 0 0;
    /* flex:auto; */
  }
  .art_canvas{
    justify-content: center;
    align-items:center;
    /* background-color: black; */
    width: 100%;
    /* flex: auto; */
  }
}
/* @media screen and (max-width: 1728px) and (min-width: 1194px) {
  .wrapper {
    /* margin:0 var(--vertical-large-padding); 
  }
  .content{
    /* padding: 0 var(--vertical-large-padding); 
  }
} */

@media screen and (max-width: 500px) {
  .wrapper {
      padding: calc(var(--vertical-large-padding));
    }
}
