.iconButton {
  width: var(--icon-button-width);
  height: var(--icon-button-width);
  --icon-hover-shift: calc(var(--icon-button-width) * 0.18);
  --icon-hover-rotation: 0deg;
  --icon-hover-translate: 0rem;
  --icon-focus-translate: -0.0625rem;
  border-radius: 999px;
  border: var(--layout-stroke, 0.5px) solid var(--stroke-color, #ababab);
  background: transparent;
  /* backdrop-filter: blur(var(--frosted-blur, 0.15625rem)); */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 150ms ease-in-out, border-color 150ms ease-in-out;
}

.iconButton:focus-visible {
  outline: none;
  transform: translateY(var(--icon-focus-translate));
}

.icon {
  width: calc(var(--icon-button-width)/2.2);
  height: calc(var(--icon-button-width)/2.2);
  display: block;
  transition: transform 200ms ease-in-out;
}

.icon path,
.icon circle,
.icon rect,
.icon line,
.icon polyline,
.icon polygon {
  stroke: var(--text-dark, #d4d4d4);
}
