.card {
  display: flex;
  max-width: 80%;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--project-card-spacing);
  /* background-color: black; */
}

.title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  align-self: flex-start;
  overflow: visible;
  display: inline-block;
  white-space: nowrap;
  max-lines: none;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  text-overflow: clip;
}

.divider {
  width: var(--layout-stroke, 0.5px);
  height: auto;
  align-self: stretch;
  background: var(--stroke-color, #ababab);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
  gap: var(--menu-padding-vertical);
}

.description {
  margin: 0;
}
.childrenContainer{
  display: flex;
  flex-wrap: wrap;
  padding: var(--vertical-text-gap) 0;
  justify-content: flex-start;
  align-items: flex-start;
  gap:var(--project-card-spacing);
}
@media screen and (max-width: 1024px) {
  .card{
    max-width: 100%;
  }
}
