@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Zen+Dots&display=swap');

@font-face {
  font-family: 'Supreme';
  src: url('./assets/fonts/Supreme-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Supreme';
  src: url('./assets/fonts/Supreme-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Supreme';
  src: url('./assets/fonts/Supreme-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Supreme';
  src: url('./assets/fonts/Supreme-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Supreme';
  src:
    url('./assets/fonts/Supreme-Extrabold.woff2') format('woff2'),
    url('./assets/fonts/Supreme-Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-dark: #1f1f1f;
  --text-dark: #d4d4d4;
  --accent-dark: #ffa84a;
  --unselected-dark: #6e6e6e;
  --stroke-color:#ABABAB;
  --font-family-zen-dots: 'Zen Dots', system-ui, sans-serif;
  --font-family-supreme: 'Supreme', system-ui, sans-serif;
  --font-size-0: 1.125rem;
  --font-size-1: 4rem;
  --font-size-2: 2.25rem;
  --font-size-4: 2rem;
  --small-card-title-font-size:0.75rem;
  /* --small-card-max-width:calc(146.256px * 0.9);
  --small-card-max-height:calc(195px * 0.9); */
  --small-card-max-width:131.63px;
  --small-card-max-height:175.5px;
  --nav-min-height: 5rem;
  --menu-icon-btn:3.75rem;
  --menu-button-margin-right:1.25rem;
  --menu-button-margin-top:0.625rem;
  --base-gap:3rem;
  --nav-max-width: 108rem;
  --icon-button-width:5rem;
  --layout-stroke: 0.5px;
  --tint-dark: rgba(23, 23, 23, 0.2);
  --frosted-blur: 0.15625rem;
  --max-box-width: 700px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --icon-button-size: 3rem;
  --sidebar-width: 3.125rem;
  --content-width: 93.75rem; /* 1400px */
  --vertical-large-padding:3.125rem;

  /* screens sizes: */
  --ipad-small-horizontal:1194px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--background-dark, #1f1f1f);
  color: var(--text-dark, #d4d4d4);
  font-family: var(--font-family-supreme, 'Supreme');
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

h1 {
  overflow: hidden;
  color: var(--text-dark, #d4d4d4);
  text-overflow: ellipsis;
  font-family: var(--font-family-zen-dots, 'Zen Dots');
  font-size: var(--font-size-1, 4rem);
  font-style: normal;
  font-weight: var(--font-weight-regular, 400);
  line-height: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  max-lines: 1;
  padding: 0;
  margin: 0;
}

h2 {
  overflow: hidden;
  color: var(--text-dark, #d4d4d4);
  text-overflow: ellipsis;
  font-family: var(--font-family-zen-dots, 'Zen Dots');
  font-size: var(--font-size-2, 2.25rem);
  font-style: normal;
  font-weight: var(--font-weight-regular, 400);
  line-height: normal;
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
  max-lines: 1;
  padding: 0;
  margin: 0;
}

h3 {
  font-family: var(--font-family-supreme, 'Supreme');
  font-size: var(--font-size-4, 3rem);
  font-style: normal;
  font-weight: var(--font-weight-light, 300);
  line-height: normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}


nav li {
  overflow: hidden;
  color: var(--unselected-dark, #6e6e6e);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--font-family-supreme, 'Supreme');
  font-size: var(--font-size-0, 1.5rem);
  font-style: normal;
  font-weight: var(--font-weight-regular, 400);
  line-height: normal;
  letter-spacing: 0.313rem;
  text-transform: uppercase;
}

p {
  font-family: var(--font-family-supreme, 'Supreme');
  font-size: var(--font-size-0, 1.5rem);
  font-style: normal;
  font-weight: var(--font-weight-light, 300);
  line-height: 1.5;
  letter-spacing: 0.15rem;
  /* text-transform: lowercase; */
}

p strong{
  color: var(--accent-dark);
}
button{
  font-family: var(--font-family-supreme, 'Supreme');
  font-size: var(--font-size-0, 1.5rem);
  font-style: normal;
  font-weight: var(--font-weight-extrabold, 800);
  line-height: normal;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
