.formContainer {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--project-card-spacing, 1.5rem);
  /* background-color: black; */
}

.submitRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1024px) {
  /* .formContainer {
    width: 90%;
  } */
}

@media (max-width: 500px) {
  .formContainer {
    width: 100%;
  }
}
